<div class="row">
    <div class="col-md-12">
        <form method="post" action="/items/add">
            <fieldset>
                <legend>Post Content</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="title">Item Name:</label>
                            <input class="form-control" id="title" name="title" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input class="form-control" id="price" name="price" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="body">Description:</label>
                            <textarea class="form-control" id="body" name="body" rows="15"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <select class="form-control" name="category" id="category">
                                <option value="1">Furniture and Decor</option>
                                <option value="2">Gadgets and Tech</option>
                                <option value="3">Apparel and Accessories</option>
                                <option value="4">Fitness and Recreation</option>
                                <option value="5">Animal Care</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="published">Visibility:</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="published" id="published" />
                                    Published
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Add Post" /><br /><br /><br />
        </form>
    </div>
</div>
